@use 'variables';

.header {
	
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 0 auto;
	background: #fff;
	padding: 40px 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px 20px 0 0;

	&__titulo {
		// flex: 1; 
		// max-width: 50%;
		font-size: 26px;
		font-weight: 700;
		color: #000;
	}

	&__menu {
		// flex: 1; 
		// max-width: 50%;
		display: flex;
		gap: 50px;
	}

	&__link {
		// flex: 1; 
		// max-width: 50%;
		font-weight: 600;
		color: #000;
		&:hover {
			color: variables.$color-primario;
		}
	}
}

@media only screen and (max-width: 768px) {
    .header {
		gap: 15px;
        flex-direction: column; /* Cambiar la dirección del flujo de los elementos a columna */
        align-items: center; /* Alinear los elementos a lo largo del eje transversal */
    }

    .header .logo,
    .header .menu .header__menu {
		max-width: 100%; /* Los elementos ocupan todo el ancho disponible */
    }
	.header__titulo{
		text-align: center;
	}
}
